# Primary objectives:
-1. Run current model with 100% of the data.  The model is a proof on concept and intended to be tested on data it was trained on, but with noise inserted into the model.  See objectives below. 

2.1. Create a function to convert the model output to the exact format as the "words" matrix below. name the function to convert the data **out_to_arp** 

2.2. Convert the output of the ANN to create a matrix in the **exact format** as the "words" matrix below.

3.1 Save the current ANN model as "WordProd" so that it can be tested on a subsets of the data it was trained on.  **I recogonize this is not typical for ANN models, but it is 100% necessary for this project**

3.2. Test the WordProd model on the following data from the "test" command below. Plot test accuracy and loss as in the original model, because the original model was trained on this, the model should have accuracy near ceiling.

4.  Convert the output of  "WordProd" to create a matrix in the **exact format** as the "words" matrix below using the previously created 
**out_to_arp** function. Name this m atrix, PNT_output.

5. Create a unique function to add noise to each hidden layer. If possible, gaussian noise. 

6. Create example of how to test accuracy of the WordProd model on the "test" data after inserting noise.  Plot test accuracy and loss as in the original model, accuracy is now expected to perform NOT at ceiling. Make sure to test on the "test" words only.

7. Convert the output of the "WordProd" with added noise to  a matrix in the **exact format** as the "words" matrix below using the previously created **out_to_arp** function. Name the output, Noisy_output

In [1]:
test = 'https://raw.githubusercontent.com/AlexSwiderski/SwiderskiLakhani/main/PNT_TEST.csv'

The purpose of this notebook is to create a deep learning model that predicts sound/letter sequences from 300 dimensional word embeddings extracted from GLOVE. The current architecture includes 2 bidirectional recurrent layers and a fully connected hidden layer.

Originally, I planned for the output layer to be similar to the following image:
![image.png]()

In this matrix, each number corresponds to a letter and each word is represented by a series of numbers in each row vector. However, it occurred to me that using a crossentropy loss function would be better for this multi-label classification problem.  Therefore, I now must transform the row vectors into one-hot-encoded vectors and this is where I need help.

I will outline questions throughout the code below.

### Load required packages

In [2]:
!pip install torchtext==0.4.0 --quiet
!pip install unidecode --quiet
!pip install d2l --quiet
!pip install nltk --quiet

# Imports
import time
import copy
import torch
import pathlib
import numpy as np
import pandas as pd
from pandas import DataFrame
import gensim
from gensim.matutils import corpus2csc
from gensim.corpora import Dictionary
import pandas as pd
import numpy as np
from sklearn import preprocessing 
import torch
import torch.nn as nn
import torch.optim as optim
import torch.nn.functional as F
import tqdm
#import pdb



import matplotlib.pyplot as plt
import matplotlib.animation as animation

from tqdm.auto import tqdm
from IPython.display import HTML
from torchvision import transforms
%unload_ext google.colab.data_table

     |████████████████████████████████| 53 kB 1.3 MB/s
     |████████████████████████████████| 235 kB 8.2 MB/s
     |████████████████████████████████| 83 kB 1.3 MB/s
The google.colab.data_table extension is not loaded.

In [3]:
# Imports
import math
import time
import nltk
import random
import collections

import numpy as np
import matplotlib.pyplot as plt

import torch
import torch.nn as nn
from torch.nn import functional as F

from torchtext import data, datasets

from d2l import torch as d2l

## Below I create an integer representation of each sound included in the 'words' matrix.  I originally planned to model the output for the DNN with these representations. However, to utilize cross entropy loss with a multi-label classification problem this seems to be causing problems. 

### **This code should not be included in the output layer of the ANN,** but I would like to keep it in the notebook for now as reference for later.

In [4]:
#original plan, unclear if this is the right way to go.
replace_phons = {'':0,
'AA' :1,

'AE' :2,

'AH' :3,

'AO' :4,

'AW' :5,

'AY' :6,

'B' :7,

'CH' :8,

'D' :9,

'DH' :10,

'EH' :11,

'ER' :12,

'EY' :13,

'F' :14,

'G' :15,

'HH' :16,

'IH' :17,

'IY' :18,

'JH' :19,

'K' :20,

'L' :21,

'M' :22,

'N' :23,

'NG' :24,

'OW' :25,

'OY' :26,

'P' :27,

'R' :28,

'S' :29,

'SH' :30,

'T' :31,

'TH' :32,

'UH' :33,

'UW' :34,

'V' :35,

'W' :36,

'Y' :37,

'Z' :38,

'ZH' :39}

## Load data, format colums etc.
### Columns 1:11 will be the output layer of the ANN and it will need to be transformed to one-hot-encoded vectors.

In [5]:
#ChNGED TO MATCH NEW INPUT WORDS
#url = 'https://raw.githubusercontent.com/AlexSwiderski/SwiderskiLakhani/main/Just_Item_Names.csv'
url = 'https://raw.githubusercontent.com/AlexSwiderski/SwiderskiLakhani/main/UpdatedWordList.csv'
words = pd.read_csv(url)
words.fillna('', inplace = True)
words.columns = ['Word', '1', '2', '3', '4', '5', '6','7', '8', '9', '10', '11']

#drop last empty row in words
# Drop last 3 rows of dataframe
N = 1
words.drop(index=words.index[-N], 
        axis=0, 
        inplace=True)

words

          Word  1   2   3   4   5  6   7 8  9  10 11
0         bear  B  EH   R
1       beaver  B  IY   V  ER
2          bee  B  IY
3         bird  B  ER   D
4          bug  B  AH   G
...        ... ..  ..  ..  ..  .. ..  .. .. .. .. ..
1349       map  M  AE   P
1350    flower  F   L  AW  ER
1351  mountain  M  AW   N   T  AH  N
1352      tree  T   R  IY
1353   volcano  V  AA   L   K  EY  N  OW

[1354 rows x 12 columns]

## Load the test set

In [6]:
#ChNGED TO MATCH NEW INPUT WORDS
#url = 'https://raw.githubusercontent.com/AlexSwiderski/SwiderskiLakhani/main/Just_Item_Names.csv'
url = test
words_test = pd.read_csv(url , header=None)
words_test.fillna('', inplace = True)

words_test

             0
0    ambulance
1       anchor
2        apple
3         baby
4         ball
..         ...
170    whistle
171        wig
172     window
173      zebra
174     zipper

[175 rows x 1 columns]

## get the target from the dataset which need to measure the accuracy

In [7]:
test_set = []
for idx , row in enumerate(words_test.iterrows() ):
  i_word = row[1][0]
  #get index corresponds to the initial dataset
  word_idx = np.nonzero( np.array( words.Word==i_word , dtype=np.int64) )
  if( len(word_idx[0]) !=0 ):
    index = word_idx[0][0]
    row_in_dataset = words.iloc[ index ]
    test_set.append( row_in_dataset)

In [8]:
test_words = pd.DataFrame( test_set )

## Below is a clear representation of what the output data looks like. Note that the first column 'word' will not be included in the output layer.  However, the letter sequences representing each word can be clearly seen.
### Again, columns 1:11 will be the output layer, but need to first be transformed to one hot encoded vectors.

In [9]:
words

          Word  1   2   3   4   5  6   7 8  9  10 11
0         bear  B  EH   R
1       beaver  B  IY   V  ER
2          bee  B  IY
3         bird  B  ER   D
4          bug  B  AH   G
...        ... ..  ..  ..  ..  .. ..  .. .. .. .. ..
1349       map  M  AE   P
1350    flower  F   L  AW  ER
1351  mountain  M  AW   N   T  AH  N
1352      tree  T   R  IY
1353   volcano  V  AA   L   K  EY  N  OW

[1354 rows x 12 columns]

## Next we load the glove-wiki-gigaworld data set that includes the 300d embeddings.  This takes about 5 min.

In [ ]:
#Method 1: Get word embeddings for all available words from Wikigigaworld.
import gensim.downloader as api
# Download dataset
glove_model300 = api.load('glove-wiki-gigaword-300')

## Here I create a matrix X2 that includes the 300d word embeddings for each item.

In [ ]:
#word_array = np.empty((0, 300))

def data_preprocessing( input_dataframe ):

  X = input_dataframe['Word'].copy()

  X2 , raw_word = [] , []
  yfound = []
  for idx, row in enumerate(X):
      try:
          word_array = np.empty((0, 300))
          result = glove_model300.word_vec(row)
          word_array = np.append(word_array, [result], axis = 0)
          X[idx] = result
          X2.append(result)
          raw_word.append( row )

      except:
          #X[idx] = 'None'
          pass

  """ 
  y is intended to become the outcome for the DNN
  """
  #sorted_data
  input_dataframe.columns = ['Word', '1', '2', '3', '4', '5', '6','7', '8', '9', '10', '11']
  #phon = phon.iloc[:-1 , :]
  y = input_dataframe
  y = y.drop('Word', axis = 1)
  for col in y.columns: 
    # apply the replace_phons dictionary on y each column except word & fill nan values with 0's
    y[col] = y[col].map(replace_phons).fillna(0)
  

  return np.array(raw_word) , np.array(X2) , y.values

## Preprocesses the train dataset before feed into the model

In [ ]:
raw_words , X_in , y_in = data_preprocessing( words )

In [ ]:
import torch
import torch.nn.functional as F

# convert the indexed numpy array into torch tensor with int64 dtype
y_tensor = torch.tensor( y_in , dtype=torch.int64 )
# troech tensor one hot encoding
y_one_hot_encoding = F.one_hot(y_tensor, num_classes=40)

In [ ]:
# convert the X_in , y into torch tenors
X_in = torch.from_numpy(X_in)
y = y_one_hot_encoding
raw_words = np.array( raw_words )

In [ ]:
import random
import torch

def set_seed(seed=None, seed_torch=True):
  if seed is None:
    seed = np.random.choice(2 ** 32)
  random.seed(seed)
  np.random.seed(seed)
  if seed_torch:
    torch.manual_seed(seed)
    torch.cuda.manual_seed_all(seed)
    torch.cuda.manual_seed(seed)
    torch.backends.cudnn.benchmark = False
    torch.backends.cudnn.deterministic = True

  print(f'Random seed {seed} has been set.')


# In case that `DataLoader` is used
def seed_worker(worker_id):
  worker_seed = torch.initial_seed() % 2**32
  np.random.seed(worker_seed)
  random.seed(worker_seed)

  # @title Set device (GPU or CPU). Execute `set_device()`
# especially if torch modules used.

# inform the user if the notebook uses GPU or CPU.

def set_device():
  device = "cuda" if torch.cuda.is_available() else "cpu"
  if device != "cuda":
    print("WARNING: For this notebook to perform best, "
        "if possible, in the menu under `Runtime` -> "
        "`Change runtime type.`  select `GPU` ")
  else:
    print("GPU is enabled in this notebook.")

  return device

## Set seed and device

In [ ]:
SEED = 2021
set_seed(seed=SEED)
DEVICE = set_device()

Random seed 2021 has been set.
WARNING: For this notebook to perform best, if possible, in the menu under `Runtime` -> `Change runtime type.`  select `GPU`

## Create custom data set

In [ ]:
from torch.utils.data import Dataset, DataLoader

class CustomDataset(Dataset):
    def __init__(self, raw_word , dat, labels):
        self.labels = labels
        self.dat = dat
        self.raw_word = raw_word

    def __len__(self):
        return len(self.labels)
    
    def __getitem__(self, idx):
        label = self.labels[idx]
        dat = self.dat[idx]
        i_word = self.raw_word[idx]

        sample = { "Sample_word":i_word , "Sample": dat, "Class": label}
        return sample

## Defiing parameters for the RNN and creating the train and validation set.  I know that the train/test are the same right now.  That is fine and I will play with that later. As long as they both run, that will be sufficient.

In [ ]:
# Splitting dataset
# Uncler what the batch size should be
batch_size = 11
# get the indices for the index for the dataset
index_set = np.arange( len(y) )
# shuffle the indices
random.shuffle( index_set )
# define train , val split as 0.8 train , 0.2 valid
train_val_split = 1.0
train_limit = int( train_val_split * len(y)  )
# extract train and validation indices
train_index , val_index = index_set , index_set

# define train and validation datasets 
x_train , y_train = X_in[ train_index ] , y[ train_index ]
x_valid , y_valid = X_in[ val_index ]   , y[ val_index ]
raw_words_train , raw_words_valid = raw_words[ train_index ] , raw_words[ val_index ]

# define data loaders for each train and test 
train_dset = CustomDataset( raw_words_train , x_train , y_train )  # create data set
train_loader = DataLoader(train_dset, batch_size=batch_size, shuffle=True) #load data with batch size
valid_dset = CustomDataset( raw_words_valid ,  x_valid , y_valid )
valid_loader = DataLoader(valid_dset, batch_size=batch_size, shuffle=True)

g_seed = torch.Generator()
g_seed.manual_seed(SEED)

In [11]:
# Imports
import math
import time
import nltk
import random
import collections

import numpy as np
import matplotlib.pyplot as plt

import torch
import torch.nn as nn
from torch.nn import functional as F

from torchtext import data, datasets
from torch.utils.data import Dataset, DataLoader

from d2l import torch as d2l

In [12]:
class VanillaRNN(nn.Module):
    def __init__(self, input_size, output_size, hidden_dim, n_layers):
        super(VanillaRNN, self).__init__()

        # Defining some parameters
        self.hidden_dim = hidden_dim
        self.n_layers = n_layers
        self.bidirectional = True
        self.decoder_length = 11
        self.input_size = input_size

        #Defining the layers
        # input encoder model --> which used to map the input size to match with hidden_dim
        self.encoder_input = nn.Linear( self.input_size , hidden_dim )
        # RNN Layer
        self.rnn = nn.RNN( hidden_dim , hidden_dim, n_layers, batch_first=True, bidirectional = self.bidirectional) 
        # if rnn model is bidirectional then output troech tensor stacked forward and backward vectors
        if( self.bidirectional ): 
          # use decoder dense layer to reduce the channel size to hidden_dim since decoder working in reccursive way 
          self.decoder_dense = nn.Linear( hidden_dim*2 , hidden_dim ) 

        else:
          self.decoder_dense = nn.Linear( hidden_dim , hidden_dim ) 

        # Fully connected layer
        self.fc = nn.Linear(hidden_dim , output_size)
    
    def forward(self, x):
        
        batch_size = x.size(0)
        # Initializing hidden state for first input using method defined below
        hidden = self.init_hidden(batch_size)

        outputs = torch.zeros( batch_size , self.decoder_length , self.hidden_dim )
        # encode input vector  (input_size --> hidden_dim)
        x = self.encoder_input( x )

        # decoder working as reccursive way , output need to have 11 predictions in reccursive way
        for t in range( self.decoder_length ): 
            # forward pass the rnn layer and output one time step prediction and hidden tensor
            decoder_output, hidden = self.rnn( x , hidden )
            # map the cocatenated bidrectional vector into hidden_dim
            decoder_output = self.decoder_dense( decoder_output.squeeze(1) )
           
            # stck the outputs
            outputs[:,t,:] = decoder_output
            x = decoder_output.unsqueeze(1)

        # Reshaping the outputs such that it can be fit into the fully connected layer
        out = self.fc(outputs)
        return out, hidden
    
    def init_hidden(self, batch_size):
        # This method generates the first hidden state of zeros which we'll use in the forward pass
        # We'll send the tensor holding the hidden state to the device we specified earlier as well
        if(self.bidirectional ):
          hidden = torch.zeros(self.n_layers*2, batch_size, self.hidden_dim, device = DEVICE)
          return hidden
        else:
          hidden = torch.zeros(self.n_layers, batch_size, self.hidden_dim, device = DEVICE)
        return hidden

In [ ]:
def plot_train_val(x, train, val, train_label,
                   val_label, title, y_label,
                   color):
  fig = plt.figure( figsize=(6,6) )
  plt.plot(x, train, label=train_label, color=color)
  plt.plot(x, val, label=val_label, color=color, linestyle='--')
  plt.legend(loc='lower right')
  plt.xlabel('epoch')
  plt.ylabel(y_label)
  plt.title(title)
  plt.show()


def count_parameters(model):
  parameters = sum(p.numel() for p in model.parameters() if p.requires_grad)
  return parameters


def init_weights(m):
  if type(m) in (nn.Linear, nn.Conv1d):
    nn.init.xavier_uniform_(m.weight)



# Training functioN
def train(model, device, train_loader, valid_loader, epochs, learning_rate):

  criterion = nn.CrossEntropyLoss()
  optimizer = torch.optim.Adam(model.parameters(), lr=learning_rate)
  
  train_loss, validation_loss = [], []
  train_acc, validation_acc = [], []

  for epoch in range(epochs):
    #train
    model.train()
    running_loss = 0.
    correct, total = 0, 0
    steps = 0
    for idx, batch in enumerate(train_loader):
      text = batch["Sample"].to(device)
      target = batch['Class'].to(device)
      target = target.type(torch.LongTensor)
      text, target = text.to(device), target.to(device)
      # add micro for coding training loop
      optimizer.zero_grad()
      output, hidden = model(text.unsqueeze(1))

      #pdb.set_trace()
      #print(output.shape, target.shape, target.view(-1).shape)

      # reshape the output and target as 2d vector which accepted by the cross_entropy loss
      loss = criterion( output.contiguous().view(-1,target.shape[-1]) , torch.max( target , 2)[1].view(-1) )
      loss.backward()
      optimizer.step()
      steps += 1
      running_loss += loss.item()

      # get accuracy
      _, predicted = torch.max(output, 2)
      #print(predicted)
      #predicted = torch.round(output.squeeze())
      total += target.size(0)*target.size(1)
      correct += (predicted == torch.max(target,2)[1]  ).sum().item()

    train_loss.append(running_loss/len(train_loader))
    train_acc.append(correct/total)

    if( epoch % 10 == 0 ):

      print(f'Epoch: {epoch + 1}, '
            f'Training Loss: {running_loss/len(train_loader):.4f}, '
            f'Training Accuracy: {100*correct/total: .2f}%')

    # evaluate on validation data
    model.eval()
    running_loss = 0.
    correct, total = 0, 0

    with torch.no_grad():
      for idx, batch in enumerate(valid_loader):
        text = batch["Sample"].to(device)
        #print(type(text), text.shape)
        target = batch['Class'].to(device)
        target = torch.autograd.Variable(target).long()
        text, target = text.to(device), target.to(device)

        optimizer.zero_grad()
        output , _ = model(text.unsqueeze(1))
        
        loss = criterion(output.contiguous().view(-1,target.shape[-1]) , torch.max( target , 2)[1].view(-1) )
        running_loss += loss.item()

        # get accuracy
        _, predicted = torch.max(output, 2)
        #predicted = torch.round(output.squeeze())
        total += target.size(0)*target.size(1)
        correct += (predicted == torch.max(target,2)[1] ).sum().item()

    validation_loss.append(running_loss/len(valid_loader))
    validation_acc.append(correct/total)

    if( epoch % 10 == 0 ):

      print (f'Validation Loss: {running_loss/len(valid_loader):.4f}, '
            f'Validation Accuracy: {100*correct/total: .2f}%\n')

  return train_loss, train_acc, validation_loss, validation_acc

## Train the model

In [ ]:
# Model hyperparamters
#vocab_size = len(word_array)
learning_rate = 1e-4
hidden_dim = 200
output_size = 40
input_size = 300
epochs = 200
n_layers = 2

# Initialize model, training and testing
set_seed(SEED)
vanilla_rnn_model = VanillaRNN(input_size, output_size, hidden_dim, n_layers)
#vanilla_rnn_model = VanillaRNN(output_size, input_size, RNN_size, fc_size, DEVICE)
vanilla_rnn_model.to(DEVICE)
vanilla_rnn_start_time = time.time()
vanilla_train_loss, vanilla_train_acc, vanilla_validation_loss, vanilla_validation_acc = train(vanilla_rnn_model,
                                                                                               DEVICE,
                                                                                               train_loader,
                                                                                               valid_loader,
                                                                                               epochs = epochs,
                                                                                               learning_rate = learning_rate)
print("--- Time taken to train = %s seconds ---" % (time.time() - vanilla_rnn_start_time))


# Number of model parameters
print(f'Number of parameters = {count_parameters(vanilla_rnn_model)}')


# Plot accuracy curves

plot_train_val(np.arange(0, epochs), vanilla_train_acc, vanilla_validation_acc,
               'train accuracy', 'val accuracy',
               'Word Production Accuracy', 'accuracy',
               color='C0')


plot_train_val(np.arange(0, epochs), vanilla_train_loss,
               vanilla_validation_loss,
               'train loss', 'val loss',
               'Word Production Accuracy',
               'loss [a.u.]',
               color='C0')

## Save the model

In [22]:
# save the trained model WordProd for future usage
torch.save({
            'model_state_dict': vanilla_rnn_model.state_dict(),
            },  "WordProd.pth" )

## Load the trained model

In [23]:
# Model hyperparamters
#vocab_size = len(word_array)
hidden_dim = 200
output_size = 40
input_size = 300
n_layers = 2

trained_rnn_model = VanillaRNN(input_size, output_size, hidden_dim, n_layers)
# load the trained weights into the model
trained_rnn_model.load_state_dict( torch.load("WordProd.pth")["model_state_dict"] )

## Test Model

In [ ]:
# Training functioN
def test_rnnmodel(model, device, test_loader):

  # evaluate on validation data
  model.eval()
  running_loss = 0.
  correct, total = 0, 0
  criterion = nn.CrossEntropyLoss()
  with torch.no_grad():
    for idx, batch in enumerate( test_loader):
        text = batch["Sample"].to(device)
        #print(type(text), text.shape)
        target = batch['Class'].to(device)
        target = torch.autograd.Variable(target).long()
        text, target = text.to(device), target.to(device)

        output , _ = model(text.unsqueeze(1))
        
        loss = criterion(output.contiguous().view(-1,target.shape[-1]) , torch.max( target , 2)[1].view(-1) )
        running_loss += loss.item()

        # get accuracy
        _, predicted = torch.max(output, 2)
        #predicted = torch.round(output.squeeze())
        total += target.size(0)*target.size(1)
        correct += (predicted == torch.max(target,2)[1] ).sum().item()


  print (f'Test Dataset Loss: {running_loss/len(test_loader):.4f}, '
           f'Test Dataset Accuracy: {100*correct/total: .2f}%\n')

## Convert Test Data and measure test accuracy and loss

In [ ]:
def measure_test_stats( model , test_set ):
  test_raw_words , X_test , y_test = data_preprocessing( test_set ) 

  # convert the indexed numpy array into torch tensor with int64 dtype
  y_test_tensor = torch.tensor( y_test , dtype=torch.int64 )
  # troech tensor one hot encoding
  y_test_one_hot_encoding = F.one_hot(y_test_tensor, num_classes=40)

  # convert the X_in , y into torch tenors
  X_test = torch.from_numpy(X_test)
  y_test = y_test_one_hot_encoding
  test_raw_words = np.array( test_raw_words )

  # define the test dataset and test loader
  test_dset = CustomDataset( test_raw_words ,  X_test , y_test )
  test_loader = DataLoader( test_dset, batch_size=32 , shuffle=False)

  # evaluate the model using the test set
  test_rnnmodel( model , DEVICE , test_loader )

In [ ]:
# evaluate the model on test dataset
measure_test_stats( trained_rnn_model , test_words )

Test Dataset Loss: 0.0785, Test Dataset Accuracy:  98.51%

## Convert Model Predictions to Word Matrix Format

In [ ]:
def out_to_arp( model , data_loader , device ):
  # dict for convert index to phon character
  replace_idx2phons={  i_val:i_key  for i_key , i_val in replace_phons.items() }
  final_df =[]
  # headers
  header = ['Word', '1', '2', '3', '4', '5', '6','7', '8', '9', '10', '11']
  # evaluate on validation data
  model.eval()

  with torch.no_grad():
    for idx, batch in enumerate( data_loader):

        text = batch["Sample"].to(device)
        word = batch["Sample_word"]

        text = text.to(device)

        output , _ = model(text.unsqueeze(1))

        # get accuracy
        _, predicted = torch.max(output, 2)

        # convert backto word matrix format
      
        for i_word , i_pred in zip(  word , predicted ):
          i_output = {}
          i_output['Word'] = i_word
          for i_head , i_pred_word in zip( header[1:] , i_pred ):
            i_output[i_head] = replace_idx2phons[i_pred_word.item()]

          final_df.append( i_output )

  # convert the results to word matrix
  df_out = pd.DataFrame( final_df )

  return df_out

## Predictions from train dataset

In [ ]:
out_to_arp( trained_rnn_model , valid_loader , DEVICE )

          Word   1   2   3   4   5   6  7 8  9  10 11
0        penny   P  EH   N  IY
1      garland  HH  AA   R   L  AH   N  D
2         pole   P  OW   L
3      burrito   B  ER  IY   T  OW
4        brake   B   R  EY   K
...        ...  ..  ..  ..  ..  ..  .. .. .. .. .. ..
1349       nut   N  AH   T
1350  chipmunk  CH  IH   P   M  AH  NG  K
1351  zucchini   Z  UW   K  IY   N  IY
1352   manatee   M  AE   N  AH   T  IY
1353  goalpost   M  OW   L   P  OW   S  T

[1354 rows x 12 columns]

## Get the predictions for the test dataset

In [ ]:
#ChNGED TO MATCH NEW INPUT WORDS
#url = 'https://raw.githubusercontent.com/AlexSwiderski/SwiderskiLakhani/main/Just_Item_Names.csv'
url = test
words_test = pd.read_csv(url , header=None)
words_test.fillna('', inplace = True)

words_test

             0
0    ambulance
1       anchor
2        apple
3         baby
4         ball
..         ...
170    whistle
171        wig
172     window
173      zebra
174     zipper

[175 rows x 1 columns]

In [ ]:
#word_array = np.empty((0, 300))

def get_preds_test( model , input_dataframe ):


  X2 , test_raw_words = [] , []

  for idx, row in enumerate(words_test.iterrows()):
      try:
          #get the glove vector for each word
          word_array = np.empty((0, 300))
          result = glove_model300.word_vec(row[1][0])
          word_array = np.append(word_array, [result], axis = 0)
          X2.append(result)
          test_raw_words.append( row[1][0] )

      except:
          #X[idx] = 'None'
          pass
  # convert x_test into numpy array
  x_test = np.array(X2)

  # convert the X_in , y into torch tenors
  X_test = torch.from_numpy( x_test )
  test_raw_words = np.array( test_raw_words )
  # define the test dataset
  dataset= [ { "Sample_word": test_raw_words , "Sample":X_test }  ]
  # get the model output for the test dataset
  df_pred = out_to_arp( model , dataset , DEVICE )

  return df_pred

## output predictions for test csv

In [ ]:
PNT_output = get_preds_test( trained_rnn_model , test_words )
# preditions for test csv file
PNT_output

          Word   1   2   3   4   5  6   7  8 9  10 11
0    ambulance  AO   R   T  IH  SH  K  AH  N
1       anchor  AE  NG   K  ER
2        apple  AE   P  AH   L
3         baby   B  EY   B  IY
4         ball   S  AO   L
..         ...  ..  ..  ..  ..  .. ..  .. .. .. .. ..
170    whistle   W  IH   S  AH   L
171        wig   W  IH   G
172     window   W  IH   N   D  OW
173      zebra   G  IY   B   R  AH
174     zipper   Z  IH   P  ER

[175 rows x 12 columns]

## Injest noise into the model

In [26]:
import copy

# define the bool value for noise model layers
noise_encoder_input = True
noise_rnn = True
noise_decoder_dense = True
noise_fc= True

def add_noise_to_weights( model ):

    with torch.no_grad():
        if noise_encoder_input :
            print("Adding noise to encoder input layer")
            # add random gaussian noise into linear layer weights
            weight_shape = model.encoder_input.weight.size()
            bias_shape = model.encoder_input.bias.size()

            model.encoder_input.weight.add_( torch.randn( weight_shape ) * 0.01)
            model.encoder_input.bias.add_( torch.randn( bias_shape ) * 0.01)

        if noise_decoder_dense :
            print("Adding noise to decoder dense layer")
            # add random gaussian noise into linear layer weights
            weight_shape = model.decoder_dense.weight.size()
            bias_shape = model.decoder_dense.bias.size()

            model.decoder_dense.weight.add_( torch.randn( weight_shape ) * 0.01)
            model.decoder_dense.bias.add_( torch.randn( bias_shape ) * 0.01)

        if noise_fc :
            print("Adding noise to final classification layer")
            # add random gaussian noise into linear layer weights
            weight_shape = model.fc.weight.size()
            bias_shape = model.fc.bias.size()
            
            model.fc.weight.add_( torch.randn( weight_shape ) * 0.01)
            model.fc.bias.add_( torch.randn( bias_shape ) * 0.01)

    with torch.no_grad():
      if(noise_rnn):
        print("Adding noise to RNN layer")
        # add noise to the rnn module seperately
        for i_params in model.rnn.all_weights :
          for i_hidden_weight in i_params :
            # add gaussian random noise to each rnn hidden state
            i_hidden_weight.add_(  torch.randn( i_hidden_weight.shape ) * 0.05 )

    return model

        
noise_rnn_model = copy.deepcopy(trained_rnn_model)
# define the noise injected model
noise_rnn_model = add_noise_to_weights( trained_rnn_model )

Adding noise into encoder input layer
Adding noise to decoder dense layer
Adding noise to final classification layer
Adding noise to RNN layer

## Evaluate the model after adding noise

In [ ]:
# evaluate the noise model on test dataset
measure_test_stats( noise_rnn_model , test_words )

Test Dataset Loss: 2.1286, Test Dataset Accuracy:  67.47%

## Predictions from the noise model on test csv

In [ ]:
Noisy_output = get_preds_test( noise_rnn_model , test_words )
# preditions for test csv file
Noisy_output

          Word   1   2   3   4   5  6  7   8 9  10 11
0    ambulance  UW   G   T  IH   N  N  D  ER
1       anchor  AE   G   R
2        apple   K   P  IY
3         baby   D  AA   K  IY
4         ball   S  AE   K
..         ...  ..  ..  ..  ..  .. .. ..  .. .. .. ..
170    whistle   T  IH   R
171        wig   S  AA   R   L
172     window   K  AE   T  ER
173      zebra   D  AA  AE  TH  AH
174     zipper   P  IH   P  ER   N  T

[175 rows x 12 columns]